<mat-toolbar class="header">
  <mat-toolbar-row>
    <button mat-icon-button class="icon" (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    <span class="logo" (click)="onLogoClick()">
      <img id="eye" [src]="eyeGif">
      Back eye
    </span>

    <span class="spacer"></span>

    <button mat-mini-fab class="custom-button" (click)="onAddClick()">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>person_outline</mat-icon> {{ currentTeacherName }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/account', 'edit']">
        <mat-icon>edit</mat-icon>
        <span>Edit account details</span>
      </button>
      <button mat-menu-item (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
