.spacer {
  flex: 1 0.5 auto;
}

.logo {
  cursor: pointer;
  font-weight: 600;
  color: #000;
  #eye {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
}

.header {
  background-color: #fff;
  padding: 0 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
}

.custom-button {
  box-shadow: none !important;
  color: #fff;
  background-color: #4949f9;
  button:hover {
    // opacity: 0.5;
    background: #4949f9b3;
  }
}