@import "../../../styles/vars";

.spacer {
  flex: 1 0.5 auto;
}

.logo {
  cursor: pointer;
  font-weight: 600;
  color: #000;
  .logo-gif {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
  #eye-hover {
    display: none;
  }
  &:hover {
    color: $main-color;
    #eye {
      display: none;
    }
    #eye-hover {
      display: inline;
    }
  }
}

.header {
  background-color: #fff;
  padding: 0 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
}

.custom-button {
  box-shadow: none !important;
  color: #fff;
  background-color: $main-color;
}
.custom-button:hover {
  opacity: 0.8;
}

.icon {
  .mat-icon:hover {
    color: $main-color;
  }
}

.live-btn {
  color: red;
  margin-left: 20px;
  border: 1px solid red;
  .mat-icon {
    color: red;
  }
  &:hover {
    color:  #fff;
    background-color: red;
    .mat-icon {
      color: #fff;
    }
  }
}

.user-menu {
  margin-left: 10px;
  .mat-button {
    padding: 0 8px;
  }
}