<mat-toolbar class="header">
  <mat-toolbar-row>
    <button mat-icon-button class="icon" (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo" (click)="onLogoClick()">
      The-Back-Eye
    </span>

    <!-- <nav mat-tab-nav-bar class="tabs" [backgroundColor]="background">
            <a mat-tab-link *ngFor="let link of links"
                [routerLink]="link.path"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive"> {{link.label}} </a>
        </nav> -->

    <span class="spacer"></span>

    <!-- <button mat-icon-button class="icon" [disabled]="isClicked" (click)="openEditLessonDialog(); isClicked=true;">
      <mat-icon>add</mat-icon>
    </button> -->

    <button mat-icon-button (click)="onAddClick()">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>person_outline</mat-icon> {{ currentTeacherName }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon>
        Sign out
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
