<div class="lesson-list" *ngIf="lessons.length">
  <div class="item-wrap" *ngFor="let l of lessons">
    <mat-card>
      <a [routerLink]="['/lesson', l.id]">
        <mat-card-title>{{ l.title }}</mat-card-title>
        <mat-card-subtitle>{{ l.description }}</mat-card-subtitle>
      </a>

      <button mat-icon-button class="icon" [matMenuTriggerFor]="vert">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #vert="matMenu" class="menu-vert">
        <button mat-menu-item [routerLink]="['/lesson', l.id, 'edit']">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="onDelete(l)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
        <button mat-menu-item [routerLink]="['/lesson', l.id, 'students']">
          <mat-icon>group_add</mat-icon>
          <span>Add Student</span>
        </button>
      </mat-menu>
    </mat-card>
    <!-- <mat-divider></mat-divider> -->
  </div>
</div>
