@import "../../styles/vars";

.mat-card {
  .mat-card-title {
    cursor: pointer;
    font-size: 15px;
    &:hover {
      color: $main-color;
    }

    .mat-card-subtitle {
      margin-bottom: 0;
    }
  }

  .mat-icon-button {
    width: 24px;
  }

  .mat-icon {
    font-size: 20px;
    &:hover {
      color: $main-color;
    }
  }

  .menu-vert {
    position: absolute;
    top: 0;
    bottom: auto;
  }

  .icon {
    position: absolute;
    top: 6px;
    right: 0;
  }
}

.mat-menu-item {
  .mat-icon{
    font-size: 20px;
  }
  height: 38px;
  line-height: 38px;
}

.selected{
  background: #dde8fc; 
}
