.mat-card {
  cursor: pointer;
  // ::ng-deep .mat-card-header-text {
  //   margin: 0 8px;
  // }

  // ::ng-deep .mat-button-ripple {
  //   top: -10px;
  // }

  .mat-card-title {
    font-size: 15px;
  }

  .mat-card-subtitle {
    margin-bottom: 0;
  }

  .mat-icon-button {
    width: 24px;
  }

  .mat-icon {
    font-size: 20px;
  }

  .menu-vert {
    position: absolute;
    top: 0;
    bottom: auto;
  }

  .icon {
    position: absolute;
    top: 6px;
    right: 0;
  }
}

.mat-menu-item {
  .mat-icon{
    font-size: 20px;
  }
  height: 38px;
  line-height: 38px;
}

.selected{
  background: #ececec; 
}
