.no-data {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  h2 {
    color: red;
  }
}

.wrap-chart {
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

// :host::ng-deep g .pie-grid-item:nth-child(5) {
//   transform: translate(210, 185) !important;
// }
