<div #containerRef class="charts-container">
  <div class="wrap-chart">
    <ngx-charts-line-chart
      *ngIf="lineChartData && lineChartData.length"
      [view]="[containerRef.offsetWidth, 300]"
      [scheme]="lineChartColorScheme"
      [results]="lineChartData"
      [yScaleMax]="119"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="'Time'"
      [yAxisLabel]="'Average Concentration'"
      (select)="onSelect($event)"
    >
    </ngx-charts-line-chart>
  </div>
  <div #containerRef class="wrap-chart">
    <ngx-charts-pie-grid
      *ngIf="pieGridData && pieGridData.length"
      [view]="[containerRef.offsetWidth, 200]"
      [scheme]="pieGridColorScheme"
      [results]="pieGridData"
      [designatedTotal]="100"
      [minWidth]="100"
      (select)="onSelect($event)"
    >
    </ngx-charts-pie-grid>
  </div>
</div>

<div class="no-data" *ngIf="!showCharts">
  <h2>No information on lesson history</h2>
</div>
