<div class="card-body">
  <form novalidate #productForm="ngForm">
    <fieldset>
      <legend>Lesson Configuration</legend>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="lessonNameId"
          >Lesson Name(Title)</label
        >

        <div class="col-md-8">
          <input
            class="form-control"
            id="lessonNameId"
            type="text"
            placeholder="Title (required)"
            required
            minlength="3"
            [(ngModel)]="lesson.title"
            name="lessonName"
            #lessonNameVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (lessonNameVar.touched ||
                  lessonNameVar.dirty ||
                  lesson.id !== 0) &&
                !lessonNameVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="lessonNameVar.errors?.required">
              Lesson title is required.
            </span>
            <span *ngIf="lessonNameVar.errors?.minlength">
              Lesson title must be at least three characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="descriptionId"
          >Description</label
        >

        <div class="col-md-8">
          <textarea
            class="form-control"
            id="descriptionId"
            placeholder="Description"
            rows="2"
            [(ngModel)]="lesson.description"
            name="description"
          ></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="productCodeId"
          >Platform & Link</label
        >

        <div class="col-md-3">
          <input
            class="form-control"
            id="platformId"
            type="text"
            placeholder="Platform (required)"
            required
            [(ngModel)]="lesson.platform"
            name="platform"
            #platformVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (platformVar.touched || platformVar.dirty || lesson.id !== 0) &&
                !platformVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="platformVar.errors?.required">
              Lesson platform is required.
            </span>
          </span>
        </div>

        <div class="col-md-5">
          <input
            class="form-control"
            id="linkId"
            type="text"
            placeholder="Link (required)"
            required
            [(ngModel)]="lesson.link"
            name="link"
            #linkVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (linkVar.touched || linkVar.dirty || lesson.id !== 0) &&
                !linkVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="linkVar.errors?.required">
              Lesson link is required.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="timeId">Day & Time</label>

        <div class="col-md-2" id="day">
          <select
            class="form-control"
            name="option"
            [(ngModel)]="lesson.dayOfWeek"
            required
            #dayVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (dayVar.touched || dayVar.dirty || lesson.id !== 0) &&
                !dayVar.valid
            }"
          >
            <option selected disabled>--Select Day--</option>
            <option *ngFor="let day of days" [ngValue]="day">{{ day }}</option>
          </select>
          <span class="invalid-feedback">
            <span *ngIf="dayVar.errors?.required">
              Lesson's day is required.
            </span>
          </span>
        </div>

        <div class="form-group col-md-1 form-field--inline">
          <span>Start</span>
        </div>
        <div class="form-group col-md-2">
          <input
            type="time"
            class="form-control"
            id="sTimeId"
            required
            [(ngModel)]="lesson.startTime"
            name="sTime"
            #sTimeVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (sTimeVar.touched || sTimeVar.dirty || lesson.id !== 0) &&
                !sTimeVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="sTimeVar.errors?.required">
              this Field is required.
            </span>
          </span>
        </div>

        <div class="form-group col-md-1 form-field--inline">
          <span>End</span>
        </div>
        <div class="form-group col-md-2">
          <input
            type="time"
            class="form-control"
            id="eTimeId"
            required
            [(ngModel)]="lesson.endTime"
            name="eTime"
            #eTimeVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (eTimeVar.touched || eTimeVar.dirty || lesson.id !== 0) &&
                !eTimeVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="eTimeVar.errors?.required">
              this Field is required.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for=""></label>

        <div class="form-group col-md-1 form-field--inline">
          <span>Max late</span>
        </div>
        <div class="form-group col-md-1">
          <input
            type="number"
            min="0"
            class="form-control time"
            id="maxLateId"
            required
            [(ngModel)]="lesson.maxLate"
            name="maxLate"
            #maxLateVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (maxLateVar.touched || maxLateVar.dirty || lesson.id !== 0) &&
                !maxLateVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="maxLateVar.errors?.required"> required. </span>
          </span>
        </div>

        <div class="form-group col-md-1 form-field--inline">
          <span>Start Break</span>
        </div>
        <div class="form-group col-md-2">
          <input
            type="time"
            class="form-control"
            id="sBreakId"
            [(ngModel)]="lesson.startBreak"
            name="sBreak"
            #sBreakVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (sBreakVar.touched || sBreakVar.dirty || lesson.id !== 0) &&
                !sBreakVar.valid
            }"
          />
        </div>

        <div class="form-group col-md-1 form-field--inline">
          <span>End break</span>
        </div>
        <div class="form-group col-md-2">
          <input
            type="time"
            class="form-control"
            id="eBreakId"
            [(ngModel)]="lesson.endBreak"
            name="eBreak"
            #eBreakVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (eBreakVar.touched || eBreakVar.dirty || lesson.id !== 0) &&
                !eBreakVar.valid
            }"
          />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <div class="form-check">
            <mat-slide-toggle
              [checked]="lesson.isActive === true ? true : false"
              (change)="setIsActive($event)"
            >
              Make the app active?
            </mat-slide-toggle>
          </div>
        </div>
      </div>
    </fieldset>
  </form>

  <div class="row mb-2">
    <div class="col-md-4 buttons">
      <button
        class="btn btn-primary mr-3"
        style="width: 80px"
        type="button"
        [title]="
          isValid()
            ? 'Save your entered data'
            : 'Disabled until the form data is valid'
        "
        [disabled]="!isValid()"
        (click)="saveLesson()"
      >
        Save
      </button>
      <button
        class="btn btn-outline-secondary mr-3"
        style="width: 80px"
        type="button"
        title="Cancel your edits"
        (click)="goBack()"
      >
        Cancel
      </button>
      <button
        class="btn btn-outline-warning"
        style="width: 80px"
        type="button"
        title="Delete this lesson"
        (click)="deleteLesson()"
      >
        Delete
      </button>
    </div>
  </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
