<div class="row mb-2">
  <div class="select_wrap">
    <label class="col-form-label" for="timeId"><b>Select lesson date:</b></label>
    <div class="col-md-4">
      <select class="form-control" [(ngModel)]="currentLesson" name="option">
        <option disabled [ngValue]="null">--Select lesson date--</option>
        <option *ngFor="let lesson of lessonHistory" [ngValue]="lesson">
          {{ lesson }}
        </option>
      </select>
    </div>
  </div>

  <div class="col-md-3">
    <button
      class="btn btn-outline-primary mr-3"
      (click)="viewAttendanceReport()"
      [disabled]="disableAttendanceButton"
    >
      View Attendance Report
    </button>
  </div>
</div>

<app-chart-measurement
  [lessonId]="lessonId"
  [lessonDate]="currentLesson"
></app-chart-measurement>
