<div class="card-body">
  <form novalidate #productForm="ngForm">
    <fieldset>
      <legend>Lesson Configuration</legend>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="lessonNameId">Lesson Name(Title)</label>

        <div class="col-md-8">
          <input
            class="form-control"
            id="lessonNameId"
            type="text"
            placeholder="Title (required)"
            required
            minlength="3"
            [(ngModel)]="lesson.title"
            name="lessonName"
            #lessonNameVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (lessonNameVar.touched ||
                  lessonNameVar.dirty ||
                  lesson.id !== 0) &&
                !lessonNameVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="lessonNameVar.errors?.required">
              Lesson title is required.
            </span>
            <span *ngIf="lessonNameVar.errors?.minlength">
              Lesson title must be at least three characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="descriptionId">Description</label>
        
        <div class="col-md-8">
          <textarea
            class="form-control"
            id="descriptionId"
            placeholder="Description"
            rows="2"
            [(ngModel)]="lesson.description"
            name="description"
          ></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="productCodeId">Platform & Link</label>

        <div class="col-md-3">
          <input
            class="form-control"
            id="platformId"
            type="text"
            placeholder="Platform (required)"
            required
            [(ngModel)]="lesson.platform"
            name="platform"
            #platformVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (platformVar.touched || platformVar.dirty || lesson.id !== 0) &&
                !platformVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="platformVar.errors?.required">
              Lesson platform is required.
            </span>
          </span>
        </div>

        <div class="col-md-5">
          <input
            class="form-control"
            id="linkId"
            type="text"
            placeholder="Link (required)"
            required
            [(ngModel)]="lesson.link"
            name="link"
            #linkVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (linkVar.touched || linkVar.dirty || lesson.id !== 0) &&
                !linkVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="linkVar.errors?.required">
              Lesson link is required.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="timeId">Time</label>
        
        <div class="col-md-2" id="day">
          <select class="form-control">
            <option selected>--Select Day--</option>
            <option>...</option>
          </select>
        </div>

        <div class="form-group col-md-1 form-field--inline" id="text-f">
          <span>Start:</span>
        </div>
        <div class="form-group col-md-1 form-field--inline" id="time-f">
          <input type="number" min="0" max="23" class="form-control time" id="sHour" placeholder="HH">
          <span style="padding-left: 5px;"><b>:</b></span>
        </div>
        <div class="form-group col-md-1 form-field--inline" id="time-f">
          <span style="padding-right: 5px;"></span>
          <input type="number" min="0" max="59" class="form-control time" id="sMinute" placeholder="mm">
        </div>

        <div class="form-group col-md-1 form-field--inline" id="text-f">
          <span>End:</span>
        </div>
        <div class="form-group col-md-1 form-field--inline" id="time-f">
          <input type="number" min="0" max="23" class="form-control time" id="eHour" placeholder="HH">
          <span style="padding-left: 5px;"><b>:</b></span>
        </div>
        <div class="form-group col-md-1 form-field--inline" id="last">
          <span style="padding-right: 5px;"></span>
          <input type="number" min="0" max="59" class="form-control time" id="eMinute" placeholder="mm">
        </div>    
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label" for=""></label>

        <div class="form-group col-md-1 form-field--inline" id="text-f">
          <span>Max late:</span>
        </div>
        <div class="form-group col-md-1 form-field--inline" id="time-f">
          <input type="number" min="0" class="form-control time" id="maxLate">
        </div>

        <div class="form-group col-md-1 form-field--inline" id="text-f">
          <span>S. Break:</span>
        </div>
        <div class="form-group col-md-1 form-field--inline" id="time-f">
          <input type="number" min="0" max="23" class="form-control time" id="sHour" placeholder="HH">
          <span style="padding-left: 5px;"><b>:</b></span>
        </div>
        <div class="form-group col-md-1 form-field--inline" id="time-f">
          <span style="padding-right: 5px;"></span>
          <input type="number" min="0" max="59" class="form-control time" id="sMinute" placeholder="mm">
        </div>

        <div class="form-group col-md-1 form-field--inline" id="text-f">
          <span>E. Break:</span>
        </div>
        <div class="form-group col-md-1 form-field--inline" id="time-f">
          <input type="number" min="0" max="23" class="form-control time" id="eHour" placeholder="HH">
          <span style="padding-left: 5px;"><b>:</b></span>
        </div>
        <div class="form-group col-md-1 form-field--inline" id="last">
          <span style="padding-right: 5px;"></span>
          <input type="number" min="0" max="59" class="form-control time" id="eMinute" placeholder="mm">
        </div>    
      </div>
      
      <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              Make the app active?
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div> 
        <!-- <mat-slide-toggle [color]="'primary'">Make the app active?</mat-slide-toggle> -->
      </div>

    </fieldset>
  </form>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
