<div class="row mb-2">
  <div class="col-md-10 buttons">
    <button
      class="btn btn-outline-secondary mr-3"
      type="button"
      title="Return back"
      (click)="goBack()"
    >
      <mat-icon style="vertical-align: middle">chevron_left</mat-icon>
      <span style="vertical-align: middle">Back</span>
    </button>
  </div>
</div>

<br>

<div class="charts-container" *ngIf="showCharts">
  <h1 style="margin: 20px 0 10px 0; text-align: center;">Student measurement charts</h1>
  <div class="wrap-chart">
    <ngx-charts-pie-grid
      *ngIf="pieGridData && pieGridData.length"
      [view]="viewPieGrid"
      [scheme]="pieGridColorScheme"
      [results]="pieGridData"
      [designatedTotal]="100"
      [minWidth]="100"
      (select)="onSelect($event)"
    >
    </ngx-charts-pie-grid>
  </div>
</div>


<div class="no-data" *ngIf="!showCharts">
  <h2>No information on lesson history</h2>
</div>
