:host ::ng-deep .mat-icon-button {
  line-height: 24px !important;
  height: 20px !important;
}

.buttons {
  // margin-left: auto;
}

#add-st-btn {
  margin-bottom: 30px;
}

#td-icons {
  width: 10%;
}

@media only screen and (max-width: 1250px) {
  #td-icons {
      width: 15%;
  }
}

@media only screen and (max-height: 920px) {
  #td-icons {
      width: 20%;
  }
}

@media only screen and (max-height: 700px) {
  #td-icons {
      width: 30%;
  }
}

