@import "../../styles/vars";

:host ::ng-deep .mat-icon-button {
  line-height: 24px !important;
  height: 20px !important;
}

.buttons {
  // margin-left: auto;
}

#add-st-btn {
  margin-bottom: 30px;
}

#td-icons {
  //width: 100px;
  .mat-icon:hover {
    color: $main-color;
  }
}